---
version: "3.7"

services:
  
  app:
    build:
      context: .
      target: base
    tty: true
    environment:
      DB_HOST: db
    ports:
      - 8080:8080
      - 5003:5003
    depends_on:
      - db
    links:
      - db

  db:
    image: mysql
    restart: always
    environment:
      MYSQL_USER: mysql
      MYSQL_PASSWORD: example
      MYSQL_DATABASE: library
      MYSQL_ROOT_PASSWORD: mypassword
    ports:
      - 3307:3306
